<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pembukuanrumahtangga"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pembukuanrumahtangga.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.pembukuanrumahtangga.RegisterActivity"></activity>
        <activity android:name="com.example.pembukuanrumahtangga.MainMenuActivity"></activity>
        <activity android:name="com.example.pembukuanrumahtangga.PemasukanActivity"></activity>
        <activity android:name="com.example.pembukuanrumahtangga.PengeluaranActivity"></activity>
         <activity android:name="com.example.pembukuanrumahtangga.HistoryActivity"></activity>
    </application>

</manifest>
